 # Ignore all SQL files (likely heavy data dumps)
    *.sql

    # Ignore database files
    *.db

    # Ignore insert data folders and generated outputs
    rd/output_insert_data_files/
    rd/

    # Ignore Power BI temp files and cache
    *.pbix~*
    *.tmp
    *.cache

    # Ignore system files
    .DS_Store
    Thumbs.db

    # Ignore logs and backups
    *.log
    *.bak
    *.old

    # Ignore Jupyter and Python artifacts (if used)
    .ipynb_checkpoints/
    __pycache__/
    *.pyc

    # Ignore VS Code settings (optional)
    .vscode/

   # Ignore virtual environment folders
    .venv/
    venv/




